html, body, main {
    display: flex;
    justify-content: space-between;
}
  
html, body {
    flex-direction: column;
}

a {
    text-decoration: none;
    color: rgb(65, 65, 65);
}

nav li {
    display: inline;
}

main, nav {
    font-family: "Delius", Verdana, sans-serif;
}

h1 {
    font-family: "Meow Script", Verdana, sans-serif;
}
